body{
    width: 100%;
}
.imgsetting{
    
}
.photo2{
    
}
.secondimg{
    display: flex;
}
.secdiv{

}
.myclass{
    text-align: center;
}


.slider span {
    padding: 10px;
    cursor: pointer;
}